.box {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url('fon.jpg');
}
.wrap {
  display: flex;
  border: 2px solid black;
  width: 950px;
  height: 800px;
  background-image: url('un.jpg');
  background-size: contain;
  margin-top: 15px;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-image: url('7.jpg');
}
.header_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 950px;

}
.heading {
  font-family: Luminari;
  font-size: 20px;
  color: white;
}
.ico {
  display: flex;
  justify-content: space-around;
  height: 73px;
  width: 60px;
  background-image: url('Книга.gif');
  background-size: 60px;
}
.main_menu{
  display: flex;
  justify-content: center;
}
li {
  margin-right: 20px;

  padding: 7px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  color: #36454A;
  background: -webkit-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
  background: -o-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
  background: linear-gradient(to top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
  box-shadow: 2px 2px 3px black;
  display: block;
}

li:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: lightcyan;
}

.cont_menu {
  width: 180px;
  border-right: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
.cont_text {
  width: 800px;
  height: 100%;
  margin-top: 10px;
  padding-left: 20px;
}
.item {
  border:  1px solid teal;
  border-radius: 7px;
  padding: 10px;
  margin: 5px;
}
.item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.active {
  background: darkcyan;
}
.change_item {
  background-color: beige;
  margin-top: 5px;
}
.create_item{
  background-color: beige;
  margin-top: 15px;
}
p {
  margin-top: 3px;
  margin-bottom: 3px;
}
.func_block {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
.edit_item{
  margin: 5px;
  padding: 5px;
}